<h1>Projects</h1>

<table cellpadding="0" cellspacing="0" class="sortable">
  <thead>
    <tr>
        <th></th>
        <th class="border sortfirstasc text">Title</th>
        <th class="border">Length</th>
        <th class="border work-status">Work status</th>
        <th class="border date-us">Date Created</th>
        <th class="border date-us">Last Modified</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
<% @projects.each do |project| %>
    <tr>
        <td valign="top" style="cursor:pointer;" state="closed" onclick="if(this.state == 'open') { this.state = 'closed'; $(this).setStyle({height: '37px'}); $(this).down(2).setStyle({display: 'none'}); $(this).down().innerHTML = '+';} else { this.state = 'open'; $(this).setStyle({height: '150px'});$(this).down(2).setStyle({display: 'block'});$(this).down().innerHTML = '-';};">
            <span>+</span>
            <div style="position:relative;">
                <div style="display:none;position:absolute;width:900px;background:yellow;top:35px;left:8px">
                    <p>This is the extra content.</p>
                    <p>This is the extra content.</p>
                    <p>This is the extra content.</p>
                </div>
            </div>
        </td>
        <td valign="top"><%= project.title %></td>
        <td valign="top"><%= project.duration %></td>
        <td valign="top" style="white-space:nowrap;"><%= project.work_status %></td>
        <td valign="top"><%= project.date_created %></td>
        <td valign="top"><%= project.last_modified %></td>
	<td valign="top"><%= link_to "Details", project_path(project) %></td>
	<!--
	-->
    </tr>
<% end %>
  </tbody>
</table>
