<p id="notice"><%= notice %></p>

<p>
  <h1><%= @project.title %></h1>
</p>
<%= image_tag @project.screenshot_uri %>

<p>
  <b>Length:</b>
  <%= @project.duration.to_i / 1000 / 60 %>:<%= @project.duration.to_i / 1000 % 60 %>
</p>

<p>
  <b>UUID:</b>
  <%= @project.uuid %>
</p>

<p>
  <b>Work status:</b>
  <%= @project.work_status %>
</p>

<p>
  <b>Date created:</b>
  <%= Time.at @project.date_created.to_i / 1000 %>
</p>

<p>
  <b>Last Modified:</b>
  <%= Time.at @project.last_modified.to_i / 1000 %>
</p>

<p>
  <b>External identifier:</b>
  <%= @project.external_identifier %>
</p>

<p>
  <b>Media URI</b>
  <%= link_to @project.media_uri, @project.media_uri %>
</p>

<p>
  <b>Translate URI</b>
  <%= link_to @project.translate_uri, @project.translate_uri %>
</p>

<p>
  <b>Display URI</b>
  <%= link_to @project.display_uri, @project.display_uri %>
</p>

<%= link_to 'Back', projects_path %>
